@using Invoices.Models

<MudDialog>
    <DialogContent>
        <MudContainer Style="max-height: 70vh; overflow-y: scroll">
            <EditForm Model="@Contractor" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                
                <MudTextField Label="Nazwa" @bind-Value="Contractor.Name" 
                             For="@(() => Contractor.Name)" Required="true" />
                
                <MudTextField Label="Adres" @bind-Value="Contractor.Address" 
                             For="@(() => Contractor.Address)" Required="true" />
                
                <div class="d-flex gap-4">
                    <MudTextField Label="Miasto" @bind-Value="Contractor.City" 
                                 For="@(() => Contractor.City)" Required="true" />
                    
                    <MudTextField Label="Kod pocztowy" @bind-Value="Contractor.ZipCode" 
                                 For="@(() => Contractor.ZipCode)" Required="true" />
                </div>
                
                <MudTextField Label="Kraj" @bind-Value="Contractor.Country" 
                             For="@(() => Contractor.Country)" Required="true" />
                
                <MudTextField Label="NIP" @bind-Value="Contractor.TaxId" 
                             For="@(() => Contractor.TaxId)" />
                
                <div class="d-flex gap-4">
                    <MudTextField Label="Telefon" @bind-Value="Contractor.Phone" 
                                 For="@(() => Contractor.Phone)" />
                    
                    <MudTextField Label="Email" @bind-Value="Contractor.Email" 
                                 For="@(() => Contractor.Email)" />
                </div>
                
                <div class="d-flex justify-end mt-4">
                    <MudButton OnClick="Cancel" Variant="Variant.Outlined" Color="Color.Secondary" Class="mr-2">Anuluj</MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                        Klient @(IsNew ? "Dodany" : "Zaktualizowany") 
                    </MudButton>
                </div>
            </EditForm>
        </MudContainer>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;
    
    [Parameter] public Contractor Contractor { get; set; } = new();
    [Parameter] public bool IsNew { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));
    private void Cancel() => MudDialog.Cancel();
}